{% extends 'base.html.twig' %}


{% block body %}
    <h1>Hello jmr</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Placed_at</th>
            <th>actions</th>
            <th>Tuition</th>
            <th>School ID</th>
            <th>buy</th>
        </tr>
        </thead>
        <tbody>
        {% for school in schools %}
            <tr>
                <td>{{ school.id }}</td>
                <td>{{ school.name }}</td>
                <td>
                    <a href="{{ path('school_show', {'id': school.id}) }}">show</a>
                    <a href="{{ path('order_edit', {'id': school.id}) }}">edit</a>
                </td>
                <td>{% if school.CountryID == 'USA' %}$
                    {% elseif school.CountryID == 'UK' %}£
                    {% elseif school.CountryID == 'EU' %}€
                    {% endif %}
                    {{ valuta(school.CountryID, school.Tuitition)}}</td>
                <td>{{ school.CountryID }}</td>
                <td><a href="{{ path('spa', {'id':school.id}) }}"><button class="btn-warning">koop</button></a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('order_new') }}">Create new</a>
{% endblock %}