{% extends 'base.html.twig' %}


{% block body %}
    <h1>Hello spa</h1>


    {#    his friendly message is coming from:#}
    {#    <ul>#}
    {#        <li>Your controller at <code><a href="{{ 'C:/school/htdocs/blazter/expert2/src/Controller/CartController.php'|file_link(0) }}">src/Controller/CartController.php</a></code></li>#}
    {#        <li>Your template at <code><a href="{{ 'C:/school/htdocs/blazter/expert2/templates/cart/index.html.twig'|file_link(0) }}">templates/cart/index.html.twig</a></code></li>#}
    {#    </ul>#}

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Placed_at</th>
            <th>actions</th>
            <th>Tuition</th>
        </tr>
        </thead>
        <tbody>
        {% for order in order %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.name }}</td>
                <td>
                    <a href="{{ path('school_show', {'id': order.id}) }}">show</a>
                    <a href="{{ path('order_edit', {'id': order.id}) }}">edit</a>
                </td>
                {#                <td><a href="{{ path('cart', {'id':order.id}) }}"></a><button class="btn-warning">order</button></td>#}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('order_new') }}">Create new</a>
{% endblock %}